.container{
    justify-content: center;
    display: grid;
    align-items: center;
}
table {
    border-collapse: collapse;
    
  }
  td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
  }